# gui
scgi_port = 127.0.0.1:5000
encoding_list = UTF-8

# Мінімальна кількість пірів на один торрент (якщо їх буде менше, програма буде намагатися збільшити їх число до заданого)
min_peers = 40
max_peers = 52

min_peers_seed = 10
max_peers_seed = 52

# Максимальна кількість активних торрентів на віддачу
max_uploads = 8

# Максимальна швидкість на завантаження і віддачу
download_rate = 0
upload_rate = 0

# Коренева тека для завантаження файлів
directory = /mnt/vol2
session = /mnt/vol2/torrents/session

port_range = 6881-6881
port_random = yes

check_hash = yes
check_hash = yes
use_udp_trackers = yes
encryption = allow_incoming,enable_retry,prefer_plaintext

dht = auto
dht_port = 6881
peer_exchange = yes

# Показ активних завантажень/роздач
schedule = filter_active,30,30,"view_filter = active,\"or={d.get_up_rate=,d.get_down_rate=}\""

# Завершення програми при нестачі вільного місця
schedule = low_diskspace,5,60,close_low_diskspace=500M

# Автоматичне завантаження торрентів
schedule = watch_directory_1,5,5,"load_start=/mnt/vol2/torrents/auto/anime/*.torrent,d.set_directory=/mnt/vol2/anime"
schedule = watch_directory_2,5,5,"load_start=/mnt/vol2/torrents/auto/films/*.torrent,d.set_directory=/mnt/vol2/films"
schedule = watch_directory_3,5,5,"load_start=/mnt/vol2/torrents/auto/games/*.torrent,d.set_directory=/mnt/vol2/games"
schedule = watch_directory_4,5,5,"load_start=/mnt/vol2/torrents/auto/music/*.torrent,d.set_directory=/mnt/vol2/music"
schedule = watch_directory_5,5,5,"load_start=/mnt/vol2/torrents/auto/soft/*.torrent,d.set_directory=/mnt/vol2/soft"

# Прибираємо ліміт на завантаження і віддачу з 2 години ночі...
#schedule = throttle_1,02:00:00,24:00:00,download_rate=0
#schedule = throttle_2,02:00:00,24:00:00,upload_rate=0

# ...до 9 ранку.
#schedule = throttle_3,09:00:00,24:00:00,download_rate=1000
#schedule = throttle_4,09:00:00,24:00:00,upload_rate=600